.main-view{
    background-color: #fff9eb;
    position: relative;
}
.button {

    background-color: #594a42;
    color: #fff9eb;
    margin: 10px;
    padding:10px 30px;
}
.moovies-logo{
    margin: 10px;
}
